@charset "utf-8";

* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Base Styles 62.5% = 10px , 1rem = 10px, 1.5rem = 15px */
html {height:100%; font-size:62.5%; -webkit-text-size-adjust:none; }
body {height:100%; font-size:1.5rem; font-size:15px; font-family:sans-serif; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p, button {margin:0; padding:0;  }
fieldset, img {border:0 none; }
img {vertical-align:middle; }
label{vertical-align:middle;display:inline-block;font-weight: normal;}
legend, caption, .caption {position:absolute; height:0; line-height:0; font-size:0; overflow:hidden; }
input, textarea, button, select {vertical-align:middle; }
address, cite, code, dfn, em, var {font-style:normal; font-weight:normal; }
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:100%; }
table {width:100%; border-collapse:collapse; /*border-collapse: separate;*/ border-spacing:0; }
option {vertical-align:middle; padding:3px 0; }
hr {display:none; clear:both; }
ul, ol, li {list-style:none; }
a {cursor:pointer; /*-webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s;*/ }
a:hover, a:active, a:focus {text-decoration:underline; }
button {border:0 none; background-color:transparent; cursor:pointer; }
header, footer, article, section, aside, details, figcaption, figure, hgroup, menu, nav, time, main {display:block; margin:0; padding:0; }
audio[controls], canvas, video { display:inline-block; *display:inline; *zoom:1; }

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear{display:none; width:0; height:0; }
input[type=search]::-ms-reveal{display:none; width:0; height:0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration{display: none; }
input[type=number]{-moz-appearance:textfield;}

/* clear */
.container:after,
.clearfix:after {content:""; clear:both; display:block; height:0; visibility:hidden; }

/* float */
.float-left {float:left; }
.float-right {float:right; }
.float-none {float:none; clear:both; }

/* hide */
.disabled {pointer-events:none; cursor:default; }
.hide {font-size:0; height:0; text-indent:100%; white-space:nowrap; overflow:hidden; }
.hidden{display:block; position:absolute; top:-999999px; left:-999999px; width:1px; height:1px; font-size:0; text-indent:-999999px; overflow:hidden;}

/* text align */
.text-center {text-align:center !important;}
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}

/* align */
.va-m{vertical-align:middle !important;}

/* font */
.font400 {font-weight: 400 !important;}
.font500 {font-weight: 500 !important;}
.font700 {font-weight: 700 !important;}

/* display */
.dp-block{display:block !important;}
.dp-iblock{display:inline-block !important;}
.dp-flex{display:flex !important;}

/* width */
.w100p {width: 100%; }
.w10 {width: 10px !important;}
.w20 {width: 20px !important;}
.w30 {width: 30px !important;}
.w40 {width: 40px !important;}
.w50 {width: 50px !important;}
.w60 {width: 60px !important;}
.w70 {width: 70px !important;}
.w80 {width: 80px !important;}
.w90 {width: 90px !important;}
.w100 {width: 100px !important;}
.w110 {width: 110px !important;}
.w120 {width: 120px !important;}
.w130 {width: 130px !important;}
.w140 {width: 140px !important;}
.w150 {width: 150px !important;}
.w160 {width: 160px !important;}
.w170 {width: 170px !important;}
.w180 {width: 180px !important;}
.w190 {width: 190px !important;}
.w200 {width: 200px !important;}
.w210 {width: 210px !important;}
.w220 {width: 220px !important;}
.w230 {width: 230px !important;}
.w240 {width: 240px !important;}
.w250 {width: 250px !important;}
.w260 {width: 260px !important;}
.w270 {width: 270px !important;}
.w280 {width: 280px !important;}
.w290 {width: 290px !important;}
.w300 {width: 300px !important;}
.w310 {width: 310px !important;}
.w320 {width: 320px !important;}
.w330 {width: 330px !important;}
.w340 {width: 340px !important;}
.w350 {width: 350px !important;}
.w360 {width: 360px !important;}
.w370 {width: 370px !important;}
.w380 {width: 380px !important;}
.w390 {width: 390px !important;}
.w400 {width: 400px !important;}
.w410 {width: 410px !important;}
.w420 {width: 420px !important;}
.w430 {width: 430px !important;}
.w440 {width: 440px !important;}
.w450 {width: 450px !important;}
.w460 {width: 460px !important;}
.w470 {width: 470px !important;}
.w480 {width: 480px !important;}
.w490 {width: 490px !important;}
.w500 {width: 500px !important;}
.w5 {width: 5px !important;}
.w15 {width: 15px !important;}
.w25 {width: 15px !important;}
.w35 {width: 25px !important;}
.w45 {width: 35px !important;}
.w55 {width: 45px !important;}
.w65 {width: 55px !important;}
.w75 {width: 65px !important;}
.w85 {width: 75px !important;}
.w95 {width: 85px !important;}
.w115 {width: 115px !important;}
.w125 {width: 125px !important;}
.w135 {width: 135px !important;}
.w145 {width: 145px !important;}
.w155 {width: 155px !important;}
.w165 {width: 165px !important;}
.w175 {width: 175px !important;}
.w185 {width: 185px !important;}
.w195 {width: 195px !important;}
.w205 {width: 205px !important;}
.w215 {width: 215px !important;}
.w225 {width: 225px !important;}
.w235 {width: 235px !important;}
.w245 {width: 245px !important;}
.w255 {width: 255px !important;}
.w265 {width: 265px !important;}
.w275 {width: 275px !important;}
.w285 {width: 285px !important;}
.w295 {width: 295px !important;}
.w305 {width: 305px !important;}
.w315 {width: 315px !important;}
.w325 {width: 325px !important;}
.w335 {width: 335px !important;}
.w345 {width: 345px !important;}
.w355 {width: 355px !important;}
.w365 {width: 365px !important;}
.w375 {width: 375px !important;}
.w385 {width: 385px !important;}
.w395 {width: 395px !important;}
.w405 {width: 405px !important;}
.w415 {width: 415px !important;}
.w425 {width: 425px !important;}
.w435 {width: 435px !important;}
.w445 {width: 445px !important;}
.w455 {width: 455px !important;}
.w465 {width: 465px !important;}
.w475 {width: 475px !important;}
.w485 {width: 485px !important;}
.w495 {width: 495px !important;}

/* height */
.h5 {height: 5px !important;}
.h10 {height: 10px !important;}
.h15 {height: 15px !important;}
.h20 {height: 20px !important;}
.h25 {height: 25px !important;}
.h30 {height: 30px !important;}
.h35 {height: 35px !important;}
.h40 {height: 40px !important;}
.h45 {height: 45px !important;}
.h50 {height: 50px !important;}
.h55 {height: 55px !important;}
.h60 {height: 60px !important;}
.h65 {height: 65px !important;}
.h70 {height: 70px !important;}
.h75 {height: 75px !important;}
.h80 {height: 80px !important;}
.h85 {height: 85px !important;}
.h90 {height: 90px !important;}
.h95 {height: 95px !important;}
.h100 {height: 100px !important;}

/* margin-top */
.mgt0 {margin-top: 0px !important;}
.mgt5 {margin-top: 5px !important;}
.mgt10 {margin-top: 10px !important;}
.mgt15 {margin-top: 15px !important;}
.mgt20 {margin-top: 20px !important;}
.mgt25 {margin-top: 25px !important;}
.mgt30 {margin-top: 30px !important;}
.mgt35 {margin-top: 35px !important;}
.mgt40 {margin-top: 40px !important;}
.mgt45 {margin-top: 45px !important;}
.mgt50 {margin-top: 50px !important;}

/* margin-right */
.mgr0 {margin-right: 0px !important;}
.mgr5 {margin-right: 5px !important;}
.mgr10 {margin-right: 10px !important;}
.mgr15 {margin-right: 15px !important;}
.mgr20 {margin-right: 20px !important;}
.mgr25 {margin-right: 25px !important;}
.mgr30 {margin-right: 30px !important;}
.mgr35 {margin-right: 35px !important;}
.mgr40 {margin-right: 40px !important;}
.mgr45 {margin-right: 45px !important;}
.mgr50 {margin-right: 50px !important;}

/* margin-bottom */
.mgb0 {margin-bottom: 0px !important;}
.mgb5 {margin-bottom: 5px !important;}
.mgb10 {margin-bottom: 10px !important;}
.mgb15 {margin-bottom: 15px !important;}
.mgb20 {margin-bottom: 20px !important;}
.mgb25 {margin-bottom: 25px !important;}
.mgb30 {margin-bottom: 30px !important;}
.mgb35 {margin-bottom: 35px !important;}
.mgb40 {margin-bottom: 40px !important;}
.mgb45 {margin-bottom: 45px !important;}
.mgb50 {margin-bottom: 50px !important;}

/* margin-left */
.mgl0 {margin-left: 0px !important;}
.mgl5 {margin-left: 5px !important;}
.mgl10 {margin-left: 10px !important;}
.mgl15 {margin-left: 15px !important;}
.mgl20 {margin-left: 20px !important;}
.mgl25 {margin-left: 25px !important;}
.mgl30 {margin-left: 30px !important;}
.mgl35 {margin-left: 35px !important;}
.mgl40 {margin-left: 40px !important;}
.mgl45 {margin-left: 45px !important;}
.mgl50 {margin-left: 50px !important;}

/* padding-top */
.pdt0 {padding-top: 0px !important;}
.pdt5 {padding-top: 5px !important;}
.pdt10 {padding-top: 10px !important;}
.pdt15 {padding-top: 15px !important;}
.pdt20 {padding-top: 20px !important;}
.pdt25 {padding-top: 25px !important;}
.pdt30 {padding-top: 30px !important;}
.pdt35 {padding-top: 35px !important;}
.pdt40 {padding-top: 40px !important;}
.pdt45 {padding-top: 45px !important;}
.pdt50 {padding-top: 50px !important;}

/* padding-right */
.pdr0 {padding-right: 0px !important;}
.pdr5 {padding-right: 5px !important;}
.pdr10 {padding-right: 10px !important;}
.pdr15 {padding-right: 15px !important;}
.pdr20 {padding-right: 20px !important;}
.pdr25 {padding-right: 25px !important;}
.pdr30 {padding-right: 30px !important;}
.pdr35 {padding-right: 35px !important;}
.pdr40 {padding-right: 40px !important;}
.pdr45 {padding-right: 45px !important;}
.pdr50 {padding-right: 50px !important;}

/* padding-bottom */
.pdb0 {padding-bottom: 0px !important;}
.pdb5 {padding-bottom: 5px !important;}
.pdb10 {padding-bottom: 10px !important;}
.pdb15 {padding-bottom: 15px !important;}
.pdb20 {padding-bottom: 20px !important;}
.pdb25 {padding-bottom: 25px !important;}
.pdb30 {padding-bottom: 30px !important;}
.pdb35 {padding-bottom: 35px !important;}
.pdb40 {padding-bottom: 40px !important;}
.pdb45 {padding-bottom: 45px !important;}
.pdb50 {padding-bottom: 50px !important;}

/* padding-left */
.pdl0 {padding-left: 0px !important;}
.pdl5 {padding-left: 5px !important;}
.pdl10 {padding-left: 10px !important;}
.pdl15 {padding-left: 15px !important;}
.pdl20 {padding-left: 20px !important;}
.pdl25 {padding-left: 25px !important;}
.pdl30 {padding-left: 30px !important;}
.pdl35 {padding-left: 35px !important;}
.pdl40 {padding-left: 40px !important;}
.pdl45 {padding-left: 45px !important;}
.pdl50 {padding-left: 50px !important;}
